{% if classBtn is not defined %}
    {% set classBtn = "lg" %}
{% endif %}
<form   method="post" 
        id="delete-{{patient.id}}" name="delete-{{patient.id}}"
        action="{{ path('patient_delete', {'id': patient.id}) }}" 
        onsubmit="return confirm('Êtes vous sûr.e de vouloir supprimer ce patient ?');">
    {# <input type="hidden" name="_method" value="DELETE"> #}
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ patient.id) }}">
    <button class="btn-{{classBtn}} btn-danger " form="delete-{{patient.id}}"><i class="fas fa-trash-alt"></i></button>
</form>
