{% block cssPatient %}
    <link rel="stylesheet" href="{{ asset('css/appDatatable.css') }}"/>
{% endblock cssPatient %}
<div class="row p-0 m-0">
    {{ form_start(form,{'attr':{'id':'updateInfos','class':'col-12 m-0 p-0 row'}}) }}
        <div class="col-6 m-0 mr-3 p-0" style="max-width:48%;" id="divGauche">
            {% if origine=='patient' %}
                <div class="accordion m-0 p-0 col-12" id="accordionCivilite">
                    {################################################################}
                    {########################## CIVILITÉ  ###########################}
                    {################################################################}            
                    <div class="card" id="cardCivilite">
                        <div class="card-header active" id="divCivilite" data-toggle="collapse" data-target="#Civilite" aria-expanded="true" aria-controls="Civilite">
                            <h5 class="mb-0 text-center text-bold text-dark">
                                Civilité
                            </h5>
                        </div>
                        <div id="Civilite" class="collapse active show" aria-labelledby="divCivilite" data-parent="#accordionCivilite">
                            <div class="card-body">
                                <div class="row col m-1">
                                    {# <input  type="text" id="patient_Nom" name="patient[Nom]" required="required" class="form-control col-3 m-1" 
                                            placeholder="Nom" value="{{form.Nom.vars.value}}">
                                    <input  type="text" id="patient_prenom" name="patient[prenom]" class="form-control col-3 m-1" 
                                            placeholder="Prénom" value="{{form.prenom.vars.value}}"> #}
                                    {{ form_widget(form.Nom             ,{'attr':{'class':'form-control col-3 m-1'}}) }}
                                    {{ form_widget(form.prenom          ,{'attr':{'class':'form-control col-3 m-1'}}) }}
                                    {{ form_widget(form.sexe            ,{'attr':{'class':'form-control col-2 m-1 mt-3 ml-4'}}) }}
                                    {#<div class="input-group col-3 mt-1">
                                            <span class="ml-1" style="position:absolute; height: 2.3em; display: flex;  align-items: center;">
                                            <i class="fa fa-birthday-cake"></i>
                                        </span> #}
                                    {{ form_widget(form.dateNaissance   ,{'attr':{'class':'form-control col-2 p-0 pl-2 m-1 ml-4 datepicker',
                                                                                    'placeholder':'Date de naissance'}}) }}
                                    {#</div>
                                        <label for="patient_dateNaissance" class="col-1 m-2 mr-0 fa fa-birthday-cake"></label> #}
                                </div>
                                <div class="row col m-1">
                                    <span class="col-2 text-left mt-4">N° Sécu : </span>{{ form_widget(form.Secu            ,{'attr':{'class':'form-control col-8 m-1'}}) }}
                                </div>
                                <div class="row col m-1">
                                    {{ form_widget(form.Secu            ,{'attr':{'class':'form-control col-4 m-1'}}) }}
                                    {{ form_widget(form.Profession      ,{'attr':{'class':'form-control col-4 m-1'}}) }}
                                    {{ form_widget(form.situation       ,{'attr':{'class':'form-control col-2 m-1 mt-3 ml-5'}}) }}
                                    {{ form_widget(form.nbEnfant        ,{'attr':{'class':'form-control col-1 m-1 ml-5 mr-0 text-center'}}) }}
                                    <span class="col-2 m-0 ml-0 mt-4">enfant{{ form.nbEnfant.vars.value > 1 ? "s" : "" }}</span>
                                </div>                 
                            </div>
                        </div>
                    </div>
                    {################################################################}
                    {######################### COORDONNEES  #########################}
                    {################################################################}            
                    <div class="card" id="cardCoordonnees">
                        <div class="card-header" id="divAdresse" data-toggle="collapse" data-target="#Adresse" aria-expanded="true" aria-controls="Adresse">
                            <h5 class="mb-0 text-center text-bold text-dark">
                                Coordonnées
                            </h5>
                        </div> 
                        <div id="Adresse" class="collapse" aria-labelledby="divAdresse" data-parent="#accordionCivilite">
                            <div class="card-body row">
                                {{ form_widget(form.adresse.adresse1    ,{'attr':{  'class':'form-control col-5 m-1',
                                                                                    'placeholder':'Adresse'}}) }}
                                {{ form_widget(form.adresse.adresse2    ,{'attr':{  'class':'form-control col-5 m-1',
                                                                                    'placeholder':"Complément d'adresse"}}) }}
                                {{ form_widget(form.adresse.codePostal  ,{'attr':{  'class':'form-control col-5 m-1',
                                                                                    'placeholder':'Code postal'}}) }}
                                {{ form_widget(form.adresse.ville       ,{'attr':{  'class':'form-control col-5 m-1',
                                                                                    'placeholder':'Ville'}}) }}
                                {{ form_widget(form.telephone.telephone ,{'attr':{  'class'         :'form-control m-1',
                                                                                    'placeholder'   :'Téléphone', 
                                                                                    'style'         :'width:13em;'}}) }}
                                {{ form_widget(form.telephone.mobile    ,{'attr':{  'class'         :'form-control m-1',
                                                                                    'placeholder'   :'Mobile', 
                                                                                    'style'         :'width:13em;'}}) }}
                                {{ form_widget(form.telephone.mail      ,{'attr':{  'class'         :'form-control m-1',
                                                                                    'placeholder'   :'Mail', 
                                                                                    'style'         :'width:13em;'}}) }}
                                <div style="display:none;">
                                    {# {{ form_widget(form.adresse.latitude) }}
                                    {{ form_widget(form.adresse.longitude) }} #}
                                </div>
                            </div>
                        </div>   
                    </div>  
                    {################################################################}
                    {######################### INFOS COMP ###########################}
                    {################################################################}            
                    <div class="card" id="cardInfosComp">
                        <div class="card-header" id="divInfosComp" data-toggle="collapse" data-target="#InfosComp" aria-expanded="true" aria-controls="InfosComp">
                            <h5 class="mb-0 text-center text-bold text-dark">
                                Informations complémentaires
                            </h5>
                        </div>
                        <div id="InfosComp" class="collapse" aria-labelledby="divInfosComp" data-parent="#accordionCivilite">
                            <div class="card-body">
                                <div class="row col-12 m-1">
                                    <label for="patient_envoyePar"          class="col-3 m-0 mt-3">Envoyé par :           </label>
                                        {{ form_widget(form.envoyePar       ,{'attr':{'class':'form-control col-9'}}) }}
                                    <label for="patient_pref_manuelle"      class="col-3 m-0 mt-3">Préférence manuelle : </label>
                                        {{ form_widget(form.pref_manuelle   ,{'attr':{'class':'form-control col-9'}}) }}
                                    <label for="patient_mutuelle"           class="col-3 m-0 mt-3">Mutuelle :            </label>
                                        {{ form_widget(form.mutuelle        ,{'attr':{'class':'form-control col-9'}}) }}
                                    <label for="patient_loisir"             class="col-3 m-0 mt-3">Loisir :              </label>
                                        {{ form_widget(form.loisir          ,{'attr':{'class':'form-control col-9'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>                     
                </div>     
            {% endif %}
            {% if origine=='listeConsult' %}
                <div class="accordion m-0 p-0 col-12" id="accordionConsult">
                    {################################################################}
                    {######################## CONSULTATION  #########################}
                    {################################################################}
                    <div class="card" id="cardConsultation">
                        <div    class="card-header activ" id="divCardConsultation" data-toggle="collapse" data-target="#divConsultation" aria-expanded="false" 
                                aria-controls="divConsultation">
                            <h5 class="mb-0 text-center text-bold text-dark">
                                Consultation
                            </h5>
                        </div> 
                        <div id="divConsultation" class="collapse active show" aria-labelledby="divCardConsultation" data-parent="#accordionConsult">
                            <div class="card-body row">
                                {# {{ form_row(form.consultations ,{   'attr':{    'class'  :'row m-1',
                                                                                'label' :'Consultation'},
                                                                    'label_attr':{'class':'h3'}}) }} #}
                                {# {% if form.consultations is defined %}
                                    {% for consultation in form.consultations %}
                                        {% include "consultation/consultation.html.twig" %}
                                    {% endfor %}                            
                                {% else %}
                                    {% include "consultation/consultation.html.twig" %}
                                {% endif %}                             #}
                                {#{{ form_row(form.consultations.test) }}
                                {{ form_row(form.consultations.traitement) }} #}
                            </div>
                        </div>   
                    </div>   
                    {################################################################}
                    {########################## FACTURE  ############################}
                    {################################################################}
                    <div class="card" id="cardFacture">
                        <div class="card-header" id="divCardFacture" data-toggle="collapse" data-target="#divFacture" aria-expanded="false" aria-controls="divFacture">
                            <h5 class="mb-0 text-center text-bold text-dark">
                                Facture
                            </h5>
                        </div> 
                        <div id="divFacture" class="collapse" aria-labelledby="divCardFacture" data-parent="#accordionConsult">
                            <div class="card-body row">
                                {# {% if form.consultations is defined %}
                                    {% for consultation in form.consultations %}
                                        {% include "facture/facture.html.twig" %}
                                    {% endfor %}                            
                                {% else %}
                                    {% include "facture/facture.html.twig" %}
                                {% endif %}                     #}
                            </div>
                        </div>   
                    </div>   
                </div>     
            {% endif %}
        </div>          
        <div class="col-6 m-0 ml-3 p-0 text-right align-content-end" style="max-width:48%;" id="divDroite">
            <div class="accordion m-0 p-0 col-12" id="accordionAntecedents">
                    {# ############################################################## #}
                    {# ######################### ANTECEDENTS ######################## #}
                    {# ############################################################## #}
                    {% if form.antecedents %}
                        {% include "antecedent/antecedents.html.twig" %}
                    {% endif %}     
                    {# ############################################################## #}
                    {# ########################## REMARQUES ######################### #}
                    {# ############################################################## #}
                    <div class="card" id="cardRemarques">
                        <div class="card-header" id="divRemarques" data-toggle="collapse" data-target="#Remarques" aria-expanded="false" aria-controls="Remarques">
                            <h5 class="mb-0 text-center text-bold text-dark">
                                Remarques
                            </h5>
                        </div> 
                        <div id="Remarques" class="collapse" aria-labelledby="divRemarques" data-parent="#accordionAntecedents">
                            <div class="card-body row">
                                {{ form_widget(form.remarques    ,{'attr':{'class':'form-control col m-1',
                                                                                    'placeholder':'Remarques'}}) }}
                            </div>
                        </div>   
                    </div>                    
                </div>     
            {% if origine=='patient' %}   
                {% if listeConsultations %}
                    {# <a  href="{{ path('addConsultation',{'idPatient':form.id.vars.value})}}" class="btn btn-success"><i class="fas fa-plus-circle"></i> </a> #}
                    {# <table class="table table-hover table-striped dataTable no-footer col-12 m-0 p-0" id="DataTables_Table_0">
                        <thead>
                            <tr>
                                <th>Date de la consultation</th>
                                <th>Motif de consultation</th>
                                <th>Facture</th>
                                <th>Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for consultation in listeConsultations %}
                                <tr>
                                    <td>
                                        <a  href="{{ path('consultation_show',{'id':consultation.id})}}" class="rounded">
                                            <span>{{consultation.date | date('Y-m-d')}}</span>{{consultation.date | date('d/m/Y')}}
                                        </a>
                                    </td>
                                    <td>{{consultation.motif}} </td>
                                    <td>
                                        <a  href="{{ path('facture_show',{'id':consultation.facture.id })}}" target="_blank" class="btn btn-dark rounded icn-only">
                                        <i class="fas fa-file"></i></a>
                                    </td> 
                                    <td>
                                        {% include "consultation/_delete_form.html.twig" %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table> #}
                {% endif %}
            {% endif %}
            {# <a id="newConsultation" class="nav-link btn btn-success" href="{{ path('addConsultation',{'idPatient':form.id.vars.value})}}" target="_self">Nouvelle Consultation</a> #}
        </div>
    <div style="display:none;">
        {# {{ form_widget(form.adresse.latitude) }}
        {{ form_widget(form.adresse.longitude) }} #}
        {{ form_widget(form.id) }}
        {{ form_widget(form._token) }}
        {# {{ form_rest(form) }} #}
        {# {{ form_end(form, {'render_rest': false}) }} #}
    </div>            
    <div class="row col-12">
        <button class="btn-lg btn-primary m-0 mt-2 col" form="updateInfos">Mettre à jour</button>
    </div>
{{ form_end(form) }}    
</div>
{# {% block dataTable %}
    $('.dataTable').DataTable({
        "order": [[ 1, "desc" ]]
    });
{% endblock dataTable %} #}