{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block body %}
    <h1>Patient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patient.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ patient.Nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ patient.prenom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ patient.sexe }}</td>
            </tr>
            <tr>
                <th>Profession</th>
                <td>{{ patient.Profession }}</td>
            </tr>
            <tr>
                <th>Secu</th>
                <td>{{ patient.Secu }}</td>
            </tr>
            <tr>
                <th>DateNaissance</th>
                <td>{{ patient.dateNaissance ? patient.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Remarques</th>
                <td>{{ patient.remarques }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('patient_index') }}">back to list</a>

    <a href="{{ path('patient_edit', {'id': patient.id}) }}">edit</a>

    {{ include('patient/_delete_form.html.twig') }}
{% endblock %}
