{% extends 'base.html.twig' %}

{% block title %}Consultation index{% endblock %}

{% block body %}
    <h1>Consultation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Motif</th>
                <th>Test</th>
                <th>Traitement</th>
                <th>Domicile</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for consultation in consultations %}
            <tr>
                <td>{{ consultation.id }}</td>
                <td>{{ consultation.date ? consultation.date|date('Y-m-d') : '' }}</td>
                <td>{{ consultation.motif }}</td>
                <td>{{ consultation.test }}</td>
                <td>{{ consultation.traitement }}</td>
                <td>{{ consultation.domicile ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('consultation_show', {'id': consultation.id}) }}">show</a>
                    <a href="{{ path('consultation_edit', {'id': consultation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('consultation_new') }}">Create new</a>
{% endblock %}
