{% extends 'index2/base2.html.twig' %}

{% block title %}Consultation{% endblock %}

{% block body %}
    <h1>Consultation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consultation.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ consultation.date ? consultation.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ consultation.motif }}</td>
            </tr>
            <tr>
                <th>Test</th>
                <td>{{ consultation.test }}</td>
            </tr>
            <tr>
                <th>Traitement</th>
                <td>{{ consultation.traitement }}</td>
            </tr>
            <tr>
                <th>Domicile</th>
                <td>{{ consultation.domicile ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('consultation_index') }}">back to list</a>

    <a href="{{ path('consultation_edit', {'id': consultation.id}) }}">edit</a>

    {{ include('consultation/_delete_form.html.twig') }}
{% endblock %}
