{% extends 'index2/base2.html.twig' %}

{% block title %}Rendez-vous{% endblock %}

{% block body %}
    <title>Rdv {{ booking.title }}</title>
    <h1>Rdv {{ booking.title }}</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ booking.title }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ booking.start    ? booking.start|date('d/m/Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ booking.end      ? booking.end|date('d/m/Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ booking.description }}</td>
            </tr>
        </tbody>
    </table>
    <div class="col-12 row border border-dark text-center">
        <a href="{{ path('booking_index') }}"                       class="btn btn-secondary    col-xs-3">Retour</a>
        <a href="{{ path('booking_edit', {'id': booking.id}) }}"    class="btn btn-success      col-xs-3">Modifier</a>
        <div class="col-xs-3">
            {{ include('booking/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
