{% extends 'index2/base2.html.twig' %}

{% block title %}Adresse index{% endblock %}

{% block body %}
    <h1>Adresse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adresse1</th>
                <th>Adresse2</th>
                <th>CodePostal</th>
                <th>Ville</th>
                {# <th>Latitude</th> #}
                {# <th>Longitude</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adresse in adresses %}
            <tr>
                <td>{{ adresse.id }}</td>
                <td>{{ adresse.adresse1 }}</td>
                <td>{{ adresse.adresse2 }}</td>
                <td>{{ adresse.codePostal }}</td>
                <td>{{ adresse.ville }}</td>
                {# <td>{{ adresse.latitude }}</td> #}
                {# <td>{{ adresse.longitude }}</td> #}
                <td>
                    <a href="{{ path('adresse_show', {'id': adresse.id}) }}">show</a>
                    <a href="{{ path('adresse_edit', {'id': adresse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('adresse_new') }}">Create new</a>
{% endblock %}
