{% extends 'index2/base2.html.twig' %}

{% block title %}Adresse{% endblock %}

{% block body %}
    <h1>Adresse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adresse.id }}</td>
            </tr>
            <tr>
                <th>Adresse1</th>
                <td>{{ adresse.adresse1 }}</td>
            </tr>
            <tr>
                <th>Adresse2</th>
                <td>{{ adresse.adresse2 }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ adresse.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ adresse.ville }}</td>
            </tr>
            {# <tr>
                <th>Latitude</th>
                <td>{{ adresse.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ adresse.longitude }}</td>
            </tr> #}
        </tbody>
    </table>

    <a href="{{ path('adresse_index') }}">back to list</a>

    <a href="{{ path('adresse_edit', {'id': adresse.id}) }}">edit</a>

    {{ include('adresse/_delete_form.html.twig') }}
{% endblock %}
