{% extends 'index2/base2.html.twig' %}

{% block title %}Antecedent index{% endblock %}

{% block body %}
    <h1>Antecedent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Orl</th>
                <th>Neuro</th>
                <th>Vr</th>
                <th>Allergie</th>
                <th>Cardio</th>
                <th>Digest</th>
                <th>Uro</th>
                <th>Gyneco</th>
                <th>Sommeil</th>
                <th>Grossesse</th>
                <th>Vaccin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for antecedent in antecedents %}
            <tr>
                <td>{{ antecedent.id }}</td>
                <td>{{ antecedent.orl }}</td>
                <td>{{ antecedent.neuro }}</td>
                <td>{{ antecedent.vr }}</td>
                <td>{{ antecedent.allergie }}</td>
                <td>{{ antecedent.cardio }}</td>
                <td>{{ antecedent.digest }}</td>
                <td>{{ antecedent.uro }}</td>
                <td>{{ antecedent.gyneco }}</td>
                <td>{{ antecedent.sommeil }}</td>
                <td>{{ antecedent.grossesse }}</td>
                <td>{{ antecedent.vaccin }}</td>
                <td>
                    <a href="{{ path('antecedent_show', {'id': antecedent.id}) }}">show</a>
                    <a href="{{ path('antecedent_edit', {'id': antecedent.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('antecedent_new') }}">Create new</a>
{% endblock %}
