{% extends 'base.html.twig' %}

{% block title %}Antecedent{% endblock %}

{% block body %}
    <h1>Antecedent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ antecedent.id }}</td>
            </tr>
            <tr>
                <th>Orl</th>
                <td>{{ antecedent.orl }}</td>
            </tr>
            <tr>
                <th>Neuro</th>
                <td>{{ antecedent.neuro }}</td>
            </tr>
            <tr>
                <th>Vr</th>
                <td>{{ antecedent.vr }}</td>
            </tr>
            <tr>
                <th>Allergie</th>
                <td>{{ antecedent.allergie }}</td>
            </tr>
            <tr>
                <th>Cardio</th>
                <td>{{ antecedent.cardio }}</td>
            </tr>
            <tr>
                <th>Digest</th>
                <td>{{ antecedent.digest }}</td>
            </tr>
            <tr>
                <th>Uro</th>
                <td>{{ antecedent.uro }}</td>
            </tr>
            <tr>
                <th>Gyneco</th>
                <td>{{ antecedent.gyneco }}</td>
            </tr>
            <tr>
                <th>Sommeil</th>
                <td>{{ antecedent.sommeil }}</td>
            </tr>
            <tr>
                <th>Grossesse</th>
                <td>{{ antecedent.grossesse }}</td>
            </tr>
            <tr>
                <th>Vaccin</th>
                <td>{{ antecedent.vaccin }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('antecedent_index') }}">back to list</a>

    <a href="{{ path('antecedent_edit', {'id': antecedent.id}) }}">edit</a>

    {{ include('antecedent/_delete_form.html.twig') }}
{% endblock %}
