{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/app.css') }}" >
<link rel="stylesheet" href="{{ asset('fullcalendar/core/main.css') }}" >
<link rel="stylesheet" href="{{ asset('fullcalendar/daygrid/main.css') }}" >
<link rel="stylesheet" href="{{ asset('fullcalendar/list/main.css') }}" >
<link rel="stylesheet" href="{{ asset('fullcalendar/timegrid/main.css') }}" >
{# <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.simplex.css') }}" > #}

<link rel="stylesheet" href="{{ asset('jquery-ui/jquery-ui.css') }}" >
<link rel="stylesheet" href="{{ asset('datetimepicker/datetimepicker.css') }}">
<link rel="stylesheet" href="{{ asset('fontawesome/css/all.css') }}">
<link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" >
<link rel="stylesheet" href="{{ asset('datatable/css/dataTables.bootstrap4.min.css') }}" >
<link rel="stylesheet" href="{{ asset('/select2/css/select2.min.css') }}"/>
<link rel="stylesheet" href="{{ asset('css/appTimeline.css') }}"/>
{# <link rel="stylesheet" href="{{ asset('css/appTimeline2.css') }}"/> #}
<link rel="stylesheet" href="{{ asset('css/appDatatable.css') }}"/>
{% block cssPatient %}{% endblock cssPatient %}

<style>
  .bg-application {
      background-color: #EE4423;
    }
  .color-application {
      color: #EE4423;
    }
  .msr { visibility: hidden } /* make sure animated elements start hidden */

</style>
{% endblock %}
{% set UserId = null %} 
{% if app.user %}
  {% set UserRole = 'Utilisateur' %} 
  {% set UserId = app.user.id %} 
  {% for role in app.user.roles %}
    {% if role == 'ROLE_ADMIN' %}
      {% set UserRole = 'Administrateur' %} 
    {% endif %}
  {% endfor %}
{% else %}
  {% set UserRole = 'Inconnu' %} 
{% endif %}
<body class="container-fluid m-0 p-0"  
      style="background-color: #EEF2F6; font-family: Roboto,sans-serif;">
      {# {% include "navbar.html.twig" %} #}
      <input  id="rdvIndex"  type="hidden"
              data-link     ="{{ path('patient_index') }}" 
              data-userId   ="{{ UserId ?? '' }}"
              data-userRole ="{{ UserRole }}">
      {# SHOW ATELIER MULTI MODAL #}
        {# {% include("multi/new.html.twig") %} #}
      {# END ATELIER MUTLI MDAL #}
      <div class="m-1">&nbsp;</div>
  {% if block("title") is defined %}
  <div class="container-fluid bg-white rounded shadow-lg p-3 mt-5 
              col-md-12 
              col-lg-{% if block("size") is defined %}{{ block('size') }}{% else %}10{% endif %}" >
        {% include "navbar.html.twig" %}    
        {# <div class="col-1 small m-0 p-0 border border-warning" style="width:80px; overflow:auto;">
            {% include "manu.html.twig" %}
        </div> #}
        {# <h5 class="text-left row small">
            <strong>{{ block('title') }}</strong>
        </h5> #}
        <div class="container-fluid m-0 p-0 col-12">
            {# TITRE #}
            {# MESSAGES #}
            <div class="col-12 m-0 p-0">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash-notice alert alert-{{ label }} border rounded shadow-lg">
                            <h4 class="mt-2 white">{{ message }}</h4>
                        </div>
                    {% endfor %}
                {% endfor %}
                {# <div class=""><h4><strong class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</strong></h4></div> #}
            </div>
            {# END MESSAGES #}
  {% endif %}

      {% block body %}
      
      {% endblock %}

    {% if block("title") is defined %}
       </div>
  </div>  
    {% endif %}
</body>

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}">                     </script>
    <script type="text/javascript" src="{{ asset('jquery-ui/jquery-ui.js') }}">           </script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.bundle.js') }}"> </script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.js') }}">        </script>
    <script type="text/javascript" src="{{ asset('moment/moment.js') }}">                 </script>
    <script type="text/javascript" src="{{ asset('moment/moment-with-locales.js') }}">    </script>
    <script type="text/javascript" src="{{ asset('moment/moment-timezone.js') }}">        </script>
    <script type="text/javascript" src="{{ asset('datetimepicker/datetimepicker.js') }}"> </script>
    {# <script src="{{ asset('datetimepicker/moment.js') }}">                             </script> #}
    <script type="text/javascript" src="{{ asset('fullcalendar/core/main.js') }}">        </script>
    <script type="text/javascript" src="{{ asset('fullcalendar/core/locales-all.js') }}"> </script>
    <script type="text/javascript" src="{{ asset('fullcalendar/daygrid/main.js') }}">     </script>
    <script type="text/javascript" src="{{ asset('fullcalendar/interaction/main.js') }}"> </script>
    <script type="text/javascript" src="{{ asset('fullcalendar/list/main.js') }}">        </script>
    <script type="text/javascript" src="{{ asset('fullcalendar/timegrid/main.js') }}">    </script>
    {# <script src="{{ asset('fullcalendar/moment/main.global.min.js') }}">               </script> #}
    {# <script src="{{ asset('js/popper.js') }}">                                         </script> #} 
    <script type="text/javascript" src="{{ asset('tarteaucitron/tarteaucitron.js')}}">    </script>
    <script type="text/javascript" src="{{ asset('js/tarteaucitron.js')}}">               </script>
    <script type="text/javascript" src="{{ asset('/select2/js/select2.min.js') }}">       </script>
    <script type="text/javascript" src="{{ asset('datatable/js/datatable.min.js') }}">    </script>
    <script type="text/javascript" src="{{ asset('datatable/js/dataTables.bootstrap4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/axios.min.js') }}">                 </script>
    <script type="text/javascript" src="{{ asset('/js/ScrollReveal.js') }}">              </script>
    {# ////////////////////////////////////////////////////////////////////////////////////////// #}
    <script type="text/javascript" src="{{ asset('/js/app.js') }}">                       </script>
    <script type="text/javascript" src="{{ asset('/js/appDateTimePickers.js')}}">         </script>
    <script type="text/javascript" src="{{ asset('/js/appCalendrier.js') }}">             </script>
    <script type="text/javascript" src="{{ asset('/js/appDataTable.js') }}">              </script>
    <script type="text/javascript" src="{{ asset('/js/appScrollReveal.js') }}">           </script>
    <script type="text/javascript" src="{{ asset('/js/appOuvertureSession.js') }}">       </script>
    <script type="text/javascript" src="{{ asset('/js/appGoogleMap.js') }}">              </script>
    <script type="text/javascript">
      const sr = ScrollReveal({
          reset:true
      });
      
      $(document).ready(function()
      {
        appAlert();
        appMoment();
        appSelect2();
        // appScrollReveal();
        // appDataTable();
        appDateTimePickers();
        /*appCalendrier();
        appOuvertureSession();
        appGoogleMap();*/

        /*$.extend( $.fn.dataTable.defaults, 
        {/*
        $("#accordion").show();
        $("#accordion2").hide();
        $("#accordion3").hide();
        $("#DataTables_Table_0_wrapper").show();
        $(".nav-link").on('click',function()
        {
          console.log($(this).attr('class'));
          console.log('clic'+$(this).attr('class'));
          switch($(this).attr('class'))
          {
              case 'new':
              case 'newConsult':
                $("#accordion").hide();
                $("#accordion2").show();
                $("#accordion3").show();
                $("#DataTables_Table_0_wrapper").hide();
                break;
              case 'edit':
                $("#accordion").show();
                $("#accordion2").hide();
                $("#accordion3").hide();
                $("#DataTables_Table_0_wrapper").show();
                break;
              case 'consultation_r':
              case 'consultation':
              case 'consult':
              case 'listeConsult':
                $("#consultation_r").hide();
                $("#accordion").hide();
                $("#accordion2").show();
                $("#accordion3").show();
                $("#DataTables_Table_0_wrapper").hide();
                break;
              case 'courriers':
                $("#accordion").hide();
                $("#DataTables_Table_0_wrapper").hide();
                $("#accordion2").show();
                $("#accordion3").show();
                break;
              case 'documents':
                break;
          }
        })        */
        $('.dataTable').DataTable({
          // searching: false,
          "lengthMenu": [ 10, 25, 50, 75, 100 ],
          'pageLength' : 30,
          "dom": "<'row'<'col-sm-6 search-query'f><'col-sm-6'l>>" +
                  "<'row'<'col-sm-12'tr>>" +
                  "<'row'<'col-sm-5'i><'col-sm-7'p>>",
          "language": 
          {
              "sEmptyTable":     "Aucune donnée disponible dans le tableau",
              "sInfo":           "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
              "sInfoEmpty":      "Affichage de l'élément 0 à 0 sur 0 élément",
              "sInfoFiltered":   "(filtré à partir de _MAX_ éléments au total)",
              "sInfoPostFix":    "",
              "sInfoThousands":  ",",
              "sLengthMenu":     "Afficher _MENU_ éléments",
              "sLoadingRecords": "Chargement...",
              "sProcessing":     "Traitement...",
              "sSearch":         "Rechercher :",
              "sZeroRecords":    "Aucun élément correspondant trouvé",
              "oPaginate": {
                          "sFirst":    "Premier",
                          "sLast":     "Dernier",
                          "sNext":     "Suivant",
                          "sPrevious": "Précédent"
                            },
              "oAria": 
                      {
                        "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                      },
              "select": 
              {
                "rows": 
                {
                  "_": "%d lignes sélectionnées",
                  "0": "Aucune ligne sélectionnée",
                  "1": "1 ligne sélectionnée"
                } 
              },
            search: "",
            searchPlaceholder: "Rechercher"
          }
          // "order": [[ 1, "desc" ]]
        });    
        // FIN DATATABLE
        
        $('#myModal').on('shown', function () 
        {
            initialize();
        });
        $('#myTab a').click(function (e) 
        {
            e.preventDefault();
            $(this).tab('show');
        })
        $(".alert").alert(),

        $('#myModal').on('shown', function () {
            initialize();
        });

        /* $('a').tooltip({'trigger' : 'hover'}),
        $('a').tooltip({'trigger' : 'hover'});
        $('title').tooltip({'trigger' : 'hover'});
        $('img').tooltip({'trigger' : 'hover'});
                $('input[type=file]').bootstrapFileInput(),
        $('.file-inputs').bootstrapFileInput();
        $('input.myClass').prettyCheckable({ 
            color: 'red'
        });
        */
                    
        $('.MoyenDePaiement').click(function() 
        {
            if ($(this).attr('value')!=1) { $("#Num_Cheque").fadeOut(); }
            else { $("#Num_Cheque").fadeIn(); }
        });

        {% block jsCalendar %}{% endblock jsCalendar %}
        {% block dataTable %}{% endblock dataTable %}

      });
    </script>
{% endblock %}