    <nav id="navbarBase" class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary p-0">
      {# <a class=" text-white p-0 rounded" href="{{ path('app_index') }}"> #}
        {# <img width="50px" src="{{ asset('img/logo.png') }}" alt=""></a> #}
      <!--style="font-weight: 300; font-size: 1.5rem;" <strong>SARL La Boite à Cuisine</strong>  -->
      <button   class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" 
                aria-expanded="false" aria-label="Toggle navigation">
        <span   class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse border rounded p-0" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active ml-2">
            <a class="nav-link text-white" href="{{ path('app_index') }}">Accueil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active ml-2">
            <a class="nav-link text-white" href="{{ path('consultation_index') }}">Consultation <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active ml-2">
            <a class="nav-link text-white" href="{{ path('patient_index') }}">Patient <span class="sr-only"></span></a>
          </li>
          <li class="nav-item dropdown ml-2">
            <a  class="nav-link dropdown-toggle text-white bold" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" 
                aria-expanded="false"><i class="fas fa-users-cog"></i>Patient</a>
            <div class="dropdown-menu border rounded bg-light-gray">
              {# <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ShowRdv">Ouvrir un atelier</a> #}
              <a class="dropdown-item" href="#"><i class="fas fa-calendar-alt"></i>&nbsp;&nbsp;Consultations</a>
              <a class="dropdown-item" href="#"><i class="far fa-calendar-check"></i>&nbsp;&nbsp;Ateliers à valider</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><i class="fas fa-users"></i>&nbsp;&nbsp;Liste des Patients</a>
              <a class="dropdown-item" href="#"><i class="far fa-list-alt"></i>&nbsp;&nbsp;Liste des Consultations</a>
              <a class="dropdown-item" href="#">&nbsp;&nbsp;Liste des factures</a>
              <a class="dropdown-item" href="#"><i class="fas fa-carrot"></i>&nbsp;&nbsp;Liste des ingrédients</a>
          </li>            
        </ul>
      </div>
    </nav>