{% extends 'index2/base2.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <h1>Facture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facture.id }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ facture.tarif }}</td>
            </tr>
            <tr>
                <th>Paiement</th>
                <td>{{ facture.paiement ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>NumeroCheque</th>
                <td>{{ facture.numeroCheque }}</td>
            </tr>
            <tr>
                <th>Regler</th>
                <td>{{ facture.regler ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ facture.date ? facture.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ facture.numero }}</td>
            </tr>
            <tr>
                <th>Impression</th>
                <td>{{ facture.impression ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('facture_index') }}">back to list</a>

    <a href="{{ path('facture_edit', {'id': facture.id}) }}">edit</a>

    {{ include('facture/_delete_form.html.twig') }}
{% endblock %}
